body {
  #background: white;
  background-color: lightgrey; 
  background-image  : url(http://www.politikwissenschaft.uni-wuppertal.de/fileadmin/politikwissenschaft/1._Die_Politikwissenschaft/Organisation_und_Struktur/Mittendorf/Rpres_background_02.png); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100% 100%;}
 
}



